XMLProject2024Patias/XMLSchema/schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Главен елемент за магазина -->
    <xs:element name="computerStore">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="storeInfo" type="StoreInfoType"/>
                <xs:element name="categories" type="CategoriesType"/>
                <xs:element name="products" type="ProductsType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Информация за магазина -->
    <xs:complexType name="StoreInfoType">
        <xs:sequence>
            <xs:element name="storeName" type="xs:string"/>
            <xs:element name="location" type="LocationType"/>
            <xs:element name="contactNumber" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Адрес на магазина -->
    <xs:complexType name="LocationType">
        <xs:sequence>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Категории с вложени подкатегории -->
    <xs:complexType name="CategoriesType">
        <xs:sequence>
            <xs:element name="category" type="CategoryType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Категория и подкатегория -->
    <xs:complexType name="CategoryType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="subcategories" type="SubcategoriesType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Подкатегории в категорията -->
    <xs:complexType name="SubcategoriesType">
        <xs:sequence>
            <xs:element name="subcategory" type="SubcategoryType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Подкатегория -->
    <xs:complexType name="SubcategoryType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Продукти -->
    <xs:complexType name="ProductsType">
        <xs:sequence>
            <xs:element name="product" type="ProductType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Продукт -->
    <xs:complexType name="ProductType">
        <xs:sequence>
            <xs:element name="productName" type="xs:string"/>
            <xs:element name="category" type="xs:string"/>
            <xs:element name="price" type="xs:float"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="specifications" type="SpecificationsType"/>
        </xs:sequence>
        <xs:attribute name="productID" type="xs:string" use="required"/>
        <xs:attribute name="available" type="xs:boolean" use="optional"/>
    </xs:complexType>

    <!-- Спецификации на продукт -->
    <xs:complexType name="SpecificationsType">
        <xs:sequence>
            <xs:element name="specification" type="SpecificationType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Единична спецификация -->
    <xs:complexType name="SpecificationType">
        <xs:sequence>
            <xs:element name="key" type="xs:string"/>
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
